body{
    background: linear-gradient(to right, #557dc7, #fff9D2);
}
header{
    background: linear-gradient(to right, #116592, #c8f4e0) ;
}

.logo img{
    width: 652px;
    height: 335px;
    clear: both;
    float: center;
}

.textoexsemestrales{
    font-size: 1.5em;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Sixtyfour", sans-serif;
}
.fondoexamenes{
    background: linear-gradient(to right, #2a419c, #64e9ff) ;
}
.logoexamenes{
    
    width: 652px;
    height: 335px;
    clear: both;
    float: center;
}
.textoexadmision{
    font-size: 1.5em;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Sixtyfour", sans-serif;
}
.logoevidencias img {
        width: 652px;
        height: 335px;
        clear: both;
        float: center;
        animation: slideIn 2s ease-out;        
}
.logomodulos{
    width: 652px;
    height: 335px;
    clear: both;
    float: center;
}
.fondomodulos{
    background: linear-gradient(to right, #6157ff, #ee49fd) ;
}
.textomodulos{
    font-size: 1.5em;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: "Sixtyfour", sans-serif;
}
.headding{
    font-size: 3em;
    text-align: left;
    color: rgb(2, 22, 33);
    font-family: "Sixtyfour", sans-serif;
size: 25;
}
.subheading{
    font-size: 3em;
    text-align: right;
}
.menu{
    background-color: #49c838;
    margin: 15px;
    border-radius: 10px; 
    list-style-type: none;
    padding: 15;
}
.menu ul{
    list-style-type: none;
    float: right;
    position: relative;
    border-radius: 10px; 

}
.menu li{
    display: inline-block;
    justify-content: space-around;
    background-color: #c1c5b2;
    border-radius: 10px; 
    font-size: 1em;
    margin-right: 10px;
    padding: 3px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.menu a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 27px;
    line-height: 15px;

    color: #000;
    text-decoration: none;
    border-radius: 10px;
}


.i1:hover{
    background-color: #22ffc4;
    margin: 0;

    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-7px);
}
.i2:hover{
    background-color: #22ffc4;
    margin: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-7px);
}
.i3:hover{
    background-color: #22ffc4;
    margin: 0;

    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-7px);
}
.i11:hover{
    display: inline-block;
    padding: 10px 20px;
    font-size: 27px;
    line-height: 15px;

    color: #000;
    text-decoration: none;
    border-radius: 10px;
}


@media all and (max-width: 740px){
     body {
        background-color: rgb(13, 161, 190);
     }
        .container{
            background-color: #ffffff;
            color:#070707;
         }    
    
}
.textogracias{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta el elemento a la mitad hacia arriba y hacia la izquierda */
    width: 100%; /* Se extiende a lo ancho de la pantalla */
    text-align: center;
}
